<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doge.dao.mapper.NotifyRemindMapper">
    <sql id="columns">
        id,
		target_type as targetType,
        target,
        action,
        sender,
        create_time as createTime,
        update_time as updateTime
    </sql>
</mapper>